/* Estilos gerais com variáveis */
@font-face {
    font-family: 'Muvia';
    src: url('../fonts/Muvia.otf') format('opentype'), url('../fonts/Muvia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Variáveis*/
:root {
    --cor-fundo: #f9f0dd;
    --cor-principal: #C19770;
    --cor-secundaria: #d5b895;
    --cor-sombra: #f8dbc7;
    --cor-texto: #333;
    --fonte-principal: 'Muvia', 'Poppins', sans-serif;
    --fonte-secundaria: 'Poppins', sans-serif;
}


body {
    font-family: var(--fonte-principal);
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--cor-fundo);
}
h2, h3 {
    color: var(--cor-texto);
}
.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
input, select {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
button, .action-btn {
    display: inline-block;
    padding: 8px 16px;
    margin: 10px 0;
    background-color: var(--cor-principal);
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.fechar-btn {
    display: inline-block;
    padding: 8px 16px;
    margin: 10px 0;
    background-color: var(--cor-principal);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.cancelar-btn {
    display: inline-block;
    padding: 8px 16px;
    margin: 10px 0;
    background-color: var(--cor-principal);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
label {
    display: block;
    margin-bottom: 10px;
}