@font-face {
    font-family: 'Muvia';
    src: url('../fonts/Muvia.otf') format('opentype'), url('../fonts/Muvia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Georgia', serif;
    background-color: #d8b78c;
    color: #4a2e1c;
    line-height: 1.6;
  }
  
  .header {
    text-align: center;
    padding: 2rem 1rem;
    /* background-color: #c79f79;
    border-bottom: 2px solid #a87c53; */
    font-family: Muvia;
    font-size: larger;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
  
  .header img {
    max-width: 200px; /* ajuste conforme o tamanho da sua logo */
    height: auto;
  }
  
  
  .logo span {
    font-family: 'Courier New', monospace;
    font-size: 2.5rem;
    color: #8b5e3c;
  }
  
  .menu-container {
    padding: 1rem;
    max-width: 700px;
    margin: auto;
  }
  
  .card {
    background-color: #f5efe2;
    margin: 1rem 0;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .card h2 {
    font-family: 'Georgia', serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #6e4c2e;
  }
  
  .card ul {
    list-style: none;
  }
  
  .card li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #c4a377;
    padding: 0.5rem 0;
    font-size: 1rem;
  }
  
  .footer {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: #a87c53;
  }
  
  /* Responsivo */
  @media (max-width: 600px) {
    .logo {
      font-size: 1.5rem;
    }
  
    .logo span {
      font-size: 2rem;
    }
  
    .card li {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .card li span:last-child {
      align-self: flex-end;
    }
  }
  